* {
  transition: 0.1s;
  font-family: 'PT Serif', serif;
  -webkit-tap-highlight-color: transparent;
}

.credits {
  font-size: 10px;
  word-spacing: 2px;
  color: #dfdddd;
  text-align: center;
}

.config-page {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.config-page button {
  cursor: pointer;
  margin-left: 2.5px;
  background-color: transparent;
  border: none;
}

.container {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.container p {
  margin-top: -15px;
  font-size: 13px;
  color: #c9c6c6;
}

h1 {
  position: relative;
  font-size: 23px;
  display: inline-block;
  padding: 0 15px;
}

h1:before, h1:after {
  position: absolute;
  top: 50%;
  width: 150px;
  height: 2px;
  content: '';
  background-color: rgb(53, 53, 53);
}

h1:before {
left:-150px;
}

h1:after {
left: 100%;
}

.frase-dia p:nth-child(1) {
  font-size: 20px;
  text-align: center;
}

.frase-dia p:nth-child(2) {
  text-align: center;
  font-size: 13px;
  margin-top: -12.5px;
}

.save-phrase {
  display: flex;
  justify-content: center;
}

.save-phrase button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#phrase {
  font-size: 18.5px;
}

.menu-frases {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 990;
}

#frases-favoritas {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.phrase-fav {
  background-color: #e2e2e2;
  padding: 5px;
  border-radius: 3.5px;
}

.phrase-text-fav {
  font-weight: lighter;
  font-size: 14.5px;
}

.phrase-author-fav {
  font-weight: bold;
  font-size: 9px;
}

@media (max-width:480px) {
  .mobile-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .container {
      width: auto;
  }
  h1 {
      font-size: 30px;
  }
  .container p {
      font-size: 15px;
  }
  h1:before, h1:after {
      top: 50%;
      width: 60px;
  }
  h1:before {
      left:-60px;
  }
  h1:after {
      left: 100%;
  }
  .mobile-style {
      margin-top: 7.5em;
  }
  div button {
    font-size: 18px;
  }
}